{%extends "base.html"%}

{%block title%}Home{%endblock%}

{% block page_title %}
{{edit_create.capitalize}} a user
{% endblock %}


    {%block content%}
    <form class="create_user_form" action="/{{edit_create}}_user" method="POST">
      <label>First Name<input required type="text" name="first_name"></label>
      <label>Last Name<input required type="text" name="last_name" value=""></label>
      <label>Image URL<input type="text" name="pic" value=""></label>

      {%if edit_create == 'edit'%}
      <a href="/user/current_user.id"><button type="button" name="button">Cancle</button></a>
      <button type="submit" name="button">Save</button>
      {%endif%}
      {%else %}
      <button type="submit" name="button">Add</button>
      {%endelse%}
    </form>



    {%endblock%}
